<h1>Edit Poll</h1>
<form>
	<input ng-model='poll.title' type='text' name='pollTitle'>
	<input ng-model='poll.question' type = 'text' name = 'pollQuestion'>;
	<input ng-model='poll.options[0]' type='text' name='option0'>
	<input ng-model='poll.options[1]' type = 'text' name = 'option1'>;
	<input ng-model='poll.options[2]' type='text' name='option2'>
	<input ng-model='poll.options[3]' type = 'text' name = 'option3'>;
	<input ng-click='submit()' type='submit' name='submit'>
	
	Out {{poll.title}} {{poll.question}} {{poll.options[0]}} {{poll.options[1]}} {{poll.options[2]}} {{poll.options[3]}}
</form>

