.toggleGroup {
	text-align: center;
	position: relative;
}

.toggleError {
	border: 1px solid #A94442;
	border-radius: 4px;
}

.toggleButton {
    margin:0px auto;
    display: inline-block;
}

.toggleButton.double label {
    float:left;
    width:150px;
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
}

.toggleButton.single label {
    float:left;
    width:310px;
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
}

.small-hyperlink label {
	padding-bottom: 5px;
	margin:0px auto;
    float:left;
    width:100%;
    color: blue;
    text-decoration: underline;
}

.small-hyperlink label input[type="radio"], .small-hyperlink label input[type="checkbox"] {
    display: none;
}

.toggleButton label span {
    text-align:center;
    padding:13px 0px;
    display:block;
	background-color: lightgray;
}

.toggleButton label input {
    position:absolute;
    top:-20px;
}

.toggleButton input:checked + span {
    background-color:#404040;
    color:#F7F7F7;
}

.toggleButton label input[type="radio"], .toggleButton label input[type="checkbox"] {
    display: none;
}

.nopadding {
	padding: 0 !IMPORTANT;
}

.question {
	background-color: rgb(243, 243, 243);
}

form input, label {
	display: block;
}

@keyframes rotateFall {
	0% 		{ transform: rotateZ(0deg); }
	20% 	{ transform: rotateZ(10deg); animation-timing-function: ease-out; }
	40% 	{ transform: rotateZ(17deg); }
	60% 	{ transform: rotateZ(16deg); }
	100% 	{ transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
	to 		{ transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
	to 		{ transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
	from 	{ opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
	from 	{ transform:translateY(100%); }
	to 		{ transform: translateY(0); }
}

.ng-enter 			{ animation: scaleUp 0.5s both ease-in; z-index: 8888; }
.ng-leave 			{ animation: slideOutLeft 0.5s both ease-in; z-index: 9999; }

.newPollButton {
	margin-top: 20px;
}

.poll-list-item {
	list-style-type: none;
	font-size: 20px;
}

.poll-button {
	width: 100%;
	margin-top: 20px;
}
